<%- include('../partials/header') %>
    <h2>Restaurant List</h2>
    <table id="list">
        <thread>
            <tr>
                <th>
                    Restaurant Name
                </th>

                <th>
                    Ethnic
                </th>
            </tr>
        </thread>
        <tbody>
            <% restaurants.forEach(function(r){%>
                <tr>
                    <td>
                        <%=r.name%>
                    </td>
                    <td>
                        <%=r.ethnic%>
                    </td>
                    <td><a href="restaurants/<%= r._id%>">INFO</a></td>
                    <!-- <td>
                        <%=r.createdAt%>
                    </td> -->
                </tr>
                <%})%>
        </tbody>
    </table>
    <%- include('../partials/footer') %>
