<%- include('../partials/header') %>
    <h2>Restaurant List</h2>
    <table id="list">
        <thread>
            <tr>
                <th> Restaurant Name </th>
                <th> Ethnic </th>
                <th></th>
                <th>Created at</th>
                <th></th>
            </tr>
        </thread>
        <tbody>
            <% restaurants.forEach(function(r){%>
                <tr>
                    <td>
                        <%=r.name%>
                    </td>
                    <td>
                        <%=r.ethnic%>
                    </td>
                    <td><a href="restaurants/<%= r._id%>">INFO</a></td>
                    <td>
                        <%=r.createdAt.toLocaleDateString()%>
                    </td>

                    <td><a href="restaurants/<%= r._id%>/edit">EDIT</a></td>

                </tr>
                <%})%>
        </tbody>
    </table>
    <%- include('../partials/footer') %>
