<%- include('../partials/header') %>
    <section id="show-page">

        <div>Restaurant Name: </div>
        <div>
            <%= restaurant.name %>
        </div>
        <div>Description: </div>
        <div>
            <%= restaurant.description%>
        </div>
        <div>Address</div>
        <Address>
            <%= restaurant.address %>
        </Address>
        <div>Phone Number</div>
        <address>
            <%=restaurant.phoneNumber%>
        </address>
        <div>Ethnic</div>
        <div>
            <%=restaurant.ethnic%>
        </div>
    </section>
    <%- include('../partials/footer') %>
