<%- include('../partials/header') %>
    <section id="show-page">

        <div>Restaurant Name: </div>
        <div>
            <%= restaurant.name %>
        </div>
        <div>Description: </div>
        <div>
            <%= restaurant.description%>
        </div>
        <div>Address</div>
        <Address>
            <%= restaurant.address %>
        </Address>
        <div>Phone Number</div>
        <address>
            <%=restaurant.phoneNumber%>
        </address>
        <div>Ethnic</div>
        <div>
            <%=restaurant.ethnic%>
        </div>

    </section>
    <!-- new markup below -->
    <br><br>
    <h2>Reviews</h2>
    <form id="add-review-form" method="POST" action="/restaurants/<%= restaurant._id %>/reviews">
        <label>Review:</label>
        <textarea name="content"></textarea>
        <label>Rating:</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
        </select>
        <input type="submit" value="Add Review">
    </form>

    </section>
    <%- include('../partials/footer') %>
